/* src/styles.css */
body {
    background-color: whitesmoke; /* Example background color */
  }
  
  .App {
    padding: 20px;
    text-align: center;
    background-color: rgb(53, 52, 52); /* Background color for the App component */
    border-radius: 8px; /* Optional: rounded corners for the App component */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow effect */
  }

  .card {
    width: 18rem;
    margin: auto;
    background-color: coral; /* Background color for the card */
  }
  
  .card-body img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .greeting {
    text-align: center;
    margin-top: 20px;
  }
  
  .greeting img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  